@charset "utf-8";

html, body { margin:0; padding:0; }
body { font-style:italic; font-family:Arial, Helvetica, sans-serif; background-color:#ffffff; color:#000000; }
a { color:inherit; text-decoration:none; }
header { position:fixed; top:0; left:0; z-index:5; width:100%; background:#ffffff; color:#2b3244; }
h1 { margin:0 auto; padding:0.4em 0; width:7em; font-size:2em; background-repeat:no-repeat; background-position:right center; }
h1 a { display:block; width:100%; }
.box { padding:1em; background-color:rgba(20, 52, 95, 0.90); color:#ffffff; }
h2 { margin:0; font-size:1.25em; font-weight:normal; color:#dba720; }
dl { margin-bottom:0; }
dt { color:#3ba8ff; }
dd { margin:0; }
#sermons dt { display:none; }
#externallinks small { display:block;font-size:0.65em; }
#externallinks ul { list-style:none; padding:0; }
#pointlessdivforbackgroundimage { position:fixed; top:0; right:0; bottom:0; left:0; z-index:-1; background-repeat:no-repeat; background-attachment:fixed; }
#videowrapper { position:absolute; top:0; right:0; width:100%; height:100%; z-index:8; background:rgba(0, 0, 0, 0.5); }
video { position:absolute; top:10%; right:10%; width:80%; height:80%; z-index:9; }

@media screen and (orientation:portrait) {
.boxeswrapper > .box:first-of-type,
.boxeswrapper > .featuredserieswrapper > .box:first-of-type { margin-top:5em; }
#pointlessdivforbackgroundimage { background-position:right 3em; }
}
@media screen and (orientation:landscape) {
body { white-space:nowrap; display:table; border-spacing:1em 0.5em; background:transparent; }
.boxeswrapper { position:absolute; bottom:0; left:0; }
.box { display:table-cell; vertical-align:top; }
.featuredserieswrapper { position:relative; }
.featuredseries .featuredseriestitlewrapper { position:absolute; top:-3em; left:0; height:1em; width:100%; padding:0.5em 0 1em 0; }
.featuredseries .featuredseriestitlewrapper #featuredseriestitle { position:relative; }
.featuredseries .featuredseriestitlewrapper #featuredseriestitle h2 { position:fixed; width:100%; text-align:center; }
#pointlessdivforbackgroundimage { background-position:left 3em; }
}
@media screen and (max-width:640px) and (orientation:portrait) {
h1 { background-image:url(images/Logo-Flc-Transparent-72x51.png); }
.box { margin:0 7em 1em 0.25em; }
#pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-320x568.jpg); }
.featuredseries #pointlessdivforbackgroundimage { background-image:url(http://www.flcbranson.org/liveapp/featuredseries-320x568.jpg); }
}
@media screen and (max-height:640px) and (orientation:landscape) {
h1 { font-size:1.75em; background-image:url(images/Logo-Flc-Transparent-64x45.png); }
#pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-568x320.jpg); }
.featuredseries #pointlessdivforbackgroundimage { background-image:url(http://www.flcbranson.org/liveapp/featuredseries-568x320.jpg); }
}
@media screen and (min-width:641px) {
body { font-size:1.5em; }
h1 { background-image:url(images/Logo-Flc-Transparent-115x81.png); }
}
@media screen and (min-width:641px) and (orientation:portrait) {
.box { margin:0 9em 2em 1em; }	
#pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-768x1024.jpg); }
.featuredseries #pointlessdivforbackgroundimage { background-image:url(http://www.flcbranson.org/liveapp/featuredseries-768x1024.jpg); }
}
@media screen and (min-height:641px) and (orientation:landscape) {
#pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-1024x768.jpg); }
.featuredseries #pointlessdivforbackgroundimage { background-image:url(http://www.flcbranson.org/liveapp/featuredseries-1024x768.jpg); }
}