@charset "utf-8";
body { font-style:italic; font-family:Arial, Helvetica, sans-serif; background-color:#ffffff; color:#000000; }
header { position:fixed; top:0; left:0; z-index:9; width:100%; padding:0.5em 0; background:#ffffff; color:#2b3244; }
h1 { margin:0 auto; width:7.5em; height:81px; line-height:81px; font-size:2.5em; background:url(images/Logo-Flc-Transparent-115x81.png) no-repeat right center; }
h2 { margin-top:0; font-size:1.25em; font-weight:normal; color:#3ba8ff; }
a { color:inherit; text-decoration:none; }
.box { padding:1em; background-color:rgba(20, 52, 95, 0.90); color:#ffffff; }
h2 { color:#dba720; }
dl { margin-bottom:0; }
dt { color:#3ba8ff; }
dd { margin:0; }
#sermons dt { display:none; }
#externallinks small { display:block;font-size:0.65em; }
#externallinks ul { list-style:none; padding:0; }
#pointlessdivforbackgroundimage { position:fixed; top:0; right:0; bottom:0; left:0; z-index:-1; background-repeat:no-repeat; background-attachment:fixed; }
@media screen and (max-width:640px) and (orientation:portrait) {
.box { margin:0 7em 1em 0.25em; }
#pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-320x568.jpg); background-position:right 5em; }
}
@media screen and (max-height:640px) and (orientation:landscape) {
header { padding:0.25em 0; }
h1 { height:1.5em; line-height:1.5em; font-size:1.75em; width:7em; background-size:contain; }
.box { margin:3.25em 1em 0.25em 0; }
.box:first-of-type { margin-left:7em; }
#pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-568x320.jpg); background-position:left 3em; }
}
@media screen and (min-width:768px) {
body { font-size:1.5em; }
h1 { width:7em; }
.box { width:15em; }
}
@media screen and (min-width:641px) and (orientation:portrait) {
.box { margin:0 18em 2em 1em; }	
#pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-768x1024.jpg); background-position:right 4em; }
}
@media screen and (min-height:641px) and (orientation:landscape) {
.box { margin:6em 2em 1em 0; }
.box:first-of-type { margin-left:9em; }
#pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-1024x768.jpg); background-position:left 4em; }
}
@media screen and (orientation:portrait) {
.box:first-of-type { margin-top:7em; }
}
@media screen and (orientation:landscape) {
body { white-space:nowrap; display:table; border-spacing:1em; background:transparent; }
#boxes { position:absolute; bottom:0; left:0; }
.box { display:table-cell; vertical-align:top; }
#sermons { display:none; }
}